<?xml version="1.0"?>
<!-- Files in this folder can NOT be opened by typing their URL.
     They are only served through Resources/Download.ashx, which checks that the
     user is logged in and that the file belongs to a published resource. -->
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <fileExtensions allowUnlisted="false">
          <clear />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
