<?xml version="1.0"?>
<!-- The forum can be READ by everyone. Only creating a discussion needs a login
     (replying and deleting are checked in PostDetails.aspx.cs). -->
<configuration>
  <location path="CreatePost.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
</configuration>
