<?xml version="1.0"?>
<!-- Student submissions and assignment files are private.
     They can NOT be opened by typing their URL; they will only be served through
     a page that checks who is asking (added with the Assignments module). -->
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <fileExtensions allowUnlisted="false">
          <clear />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
